body {
    font-family: 'Source Sans Pro';
    color: #1a1a1a;
    
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url("fonts/SourceSansPro-Light.ttf"),
    url("fonts/SourceSansPro-Bold.ttf"),
       url("fonts/SourceSansPro-Regular.ttf"),
       url("fonts/SourceSansPro-Black.ttf"),
       url("fonts/SourceSansPro-ExtraLight.ttf")
       url("fonts/SourceSansPro-Semibold.ttf")
       ;
}

.header {
height: 100px;
background-color: #ffffff;
}

.t-menu-cont {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: auto 10px auto 10px;
    display: grid;
    grid-template-columns: 72px auto 170px;
    grid-template-areas: "logo l-topmenu r-topmenu";

}
.logo {grid-area: logo; background: center  no-repeat url("images/logo.svg");}
.l-topmenu {grid-area: l-topmenu; display: flex; align-items: center; padding: 0 0 0 20px;}
.r-topmenu {grid-area: r-topmenu; display: flex; place-content: end; align-items: center; padding: 0 10px 0 0;}

.topmenu-item {
    color: #c41610;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
}
/* 
.topmenu-item:hover {
    color: #ffffff;
    background-color: #c41610;
} */

.top-social {
    padding: 8px;
}

.hero {
    background-color: #1e3352;
    background-image: url("images/hero_transp.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    
}
.hero-cont {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-rows: 560px 240px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "tittle ."
    "introduction trial";
}

.tittle {grid-area: tittle; margin: 170px 0 0px 10px;  align-self: center;}
.introduction {grid-area: introduction; color: #ffffff; font-size: 36px; text-shadow: 1px 1px 2px #07121d; font-weight: 400; margin: 0 0 0 10px;}
.trial {
    background-color: #c41610;
    margin: 0 10px 20px 0;
    padding: 10px;
    grid-gap: 10px;
    grid-area: trial; 
    display: grid;
    align-self: end;
    align-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: 378px 182px;
    grid-template-areas: 
    "trial-bigtext trial-smalltext"
    "trial-input trial-btn";
}
.trial-input {grid-area: trial-input;}
.trial-btn {grid-area: trial-btn;}

h1 {

    font-weight: bold;
    font-size: 63px;
    line-height: 60px;
    font-stretch: 20%;
    color: #c41610;
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    height: 30px;
    width: 177px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: none;
    border: 0px;
    outline: none;
    cursor: pointer;
    padding: 0 5px;


}

/* .button:hover {

} */

/* .button:active {

} */

input {
    height:30px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 3px;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    text-transform: uppercase;
    color: #b3b3b3;
    box-shadow: none;
    border: 0px;
    outline: none;
    padding-left: 5px;
}
.trial-bigtext {
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    grid-area: trial-bigtext;
}

.trial-smalltext {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    grid-area: trial-smalltext;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.red {
    color: #c41610;
}

.white {
    color: #ffffff;
}

.left {
text-align: left;
}

h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 200;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}

p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    margin: 0;
    padding: 5px 0 5px 0;
}

.ewg-cont {
    max-width: 1200px;
    height: 532px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-rows: 180px 10px 52px 98px minmax(112px, max-content) 10px ;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    grid-template-areas: 
    "tittle2 tittle2 tittle2"
    "ed1 work1 gov1"
    "ed2 work2 gov2"
    "ed3 work3 gov3"
    "ed4 work4 gov4"
    "ed5 work5 gov5";
}

.tittle2 { grid-area: tittle2; padding: 89px 0 0 0;}
.ed1 { grid-area: ed1;}
.ed2 { grid-area: ed2;}
.ed3 { grid-area: ed3; background: center no-repeat url('images/education.png');}
.ed4 { grid-area: ed4;}
.ed5 { grid-area: ed5;}
.work1 { grid-area: work1;}
.work2 { grid-area: work2;}
.work3 { grid-area: work3; background: center no-repeat url('images/remote_workers.png');}
.work4 { grid-area: work4;}
.work5 { grid-area: work5;}
.gov1 { grid-area: gov1;}
.gov2 { grid-area: gov2;}
.gov3 { grid-area: gov3; background: center no-repeat url('images/gov.png');}
.gov4 { grid-area: gov4;}
.gov5 { grid-area: gov5;}

.gray-bg {
    background-color: #e6e6e6;
}

.video-area {
    background-color: #c41610;
    height: 500px;
}

.video-cont {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns:  375px auto;
    grid-template-areas: 
    "videotext videoplace";
}  
.videotext { grid-area: videotext; padding: 50px 0 0 0;}
.videoplace { grid-area: videoplace; }

input[type="checkbox"] {
    width: 0;
    height: 0;
    margin: 0;
    border: 0 none;
    padding: 0;
}
input[type="checkbox"]:before {
    position: relative;
    top: -30px;
    left: -140px;
    content: url('images/CombinedFinal_NotLoaded.png');
    display: block;
    width: 960px;
    height: 540px;
    overflow: hidden;
}
input[type="checkbox"]:checked:before {
    content: url('images/combinedfinal_halfr4.gif');
}

.award-cont {
    max-width: 1200px;
    height: 458px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-rows: 100px 260px 100px;
    grid-template-areas: 
    "awtittle"
    "awards"
    "awtext";
}

.awtittle { grid-area: awtittle; align-self: end;}
.awards { grid-area: awards; align-self: center; display: flex; justify-content: space-between;}
.awtext { grid-area: awtext; align-self: top;}

.aw2013 {
    background: center / contain no-repeat url(images/sharepoint-award-winner-badge.png);
    width: 128px;
    height: 126px;
}

.aw2014 {
    background: center / contain no-repeat url(images/espc-2014-best-sharepoint-app-awards-winner-badge200.png);
    width: 160px;
    height: 126px;
}

.aw2015 {
    background: center / contain no-repeat url(images/european-sharepoint-community-awards-finalist-pdf-share-forms-best-offic.jpg);
    width: 260px;
    height: 126px;;
}

.aw2016 {
    background: center / contain no-repeat url(images/most-innovative-cloud-solution-finalist.jpg);
    width: 153px;
    height: 143px;
}




.main {
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 100px 800px 532px 500px 458px 560px 451px 100px;
    margin: 0 10px
}

/* center no-repeat url('images/CombinedFinal_NotLoaded.png'); */