body {
    font-family: 'Source Sans Pro';
    color: #1a1a1a;
    
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url("fonts/SourceSansPro-Light.ttf"),
    url("fonts/SourceSansPro-Bold.ttf"),
       url("fonts/SourceSansPro-Regular.ttf"),
       url("fonts/SourceSansPro-Black.ttf"),
       url("fonts/SourceSansPro-ExtraLight.ttf")
       url("fonts/SourceSansPro-Semibold.ttf")
       ;
}

.header {
height: 100px;
background-color: #ffffff;
}

.t-menu-cont {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: auto 10px auto 10px;
    display: grid;
    grid-template-columns: 72px auto 170px;
    grid-template-areas: "logo l-topmenu r-topmenu";

}
.logo {grid-area: logo; background: center  no-repeat url("images/logo.svg");}
.l-topmenu {grid-area: l-topmenu; display: flex; align-items: center; padding: 0 0 0 20px;}
.r-topmenu {grid-area: r-topmenu; display: flex; place-content: end; align-items: center; padding: 0 10px 0 0;}

.topmenu-item {
    color: #c41610;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
}
/* 
.topmenu-item:hover {
    color: #ffffff;
    background-color: #c41610;
} */

.top-social {
    padding: 8px;
}

.hero {
    background-color: #1e3352;
    background-image: url("images/hero_transp.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    
}
.hero-cont {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-rows: 560px 240px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "tittle ."
    "introduction trial";
}

.tittle {grid-area: tittle; margin: 170px 0 0px 10px;  align-self: center;}
.introduction {grid-area: introduction; color: #ffffff; font-size: 36px; text-shadow: 1px 1px 2px #07121d; font-weight: 400; margin: 0 0 0 10px;}
.trial {
    grid-area: trial; 
    height: 81px;
    background-color: #c41610;
    margin: 0 10px 20px 0;
    padding: 10px;
    column-gap: 10px;
    display: grid;
    align-self: end;
    align-items: center;
    grid-template-rows: 40px 43px;
    grid-template-columns: 378px 182px;
    grid-template-areas: 
    "trial-bigtext trial-smalltext"
    "trial-input trial-btn";
}
.trial-input {grid-area: trial-input;}
.trial-btn {grid-area: trial-btn;}

h1 {

    font-weight: bold;
    font-size: 63px;
    line-height: 60px;
    font-stretch: 20%;
    color: #c41610;
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    height: 35px;
    width: 180px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: none;
    border: 0px;
    outline: none;
    cursor: pointer;
    padding: 0 5px;


}

button:hover {
    color: #e6e6e6;
}

button:active {
    height: 33px;
    width: 175px;
}

input {
    height:33px;
    width: 99%;
    background-color: #ffffff;
    border-radius: 3px;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    text-transform: uppercase;
    color: #b3b3b3;
    box-shadow: none;
    border: 0px;
    outline: none;
    padding-left: 5px;
}
.trial-bigtext {
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    grid-area: trial-bigtext;
}

.trial-smalltext {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    grid-area: trial-smalltext;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.red {
    color: #c41610;
}

.white {
    color: #ffffff;
}

.left {
text-align: left;
}

.semibold {
    font-weight: 500;
    letter-spacing: 1px;
}
h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 200;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}

p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    margin: 0;
    padding: 5px 0 5px 0;
}

.ewg-cont {
    max-width: 1200px;
    height: 532px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-rows: 180px 10px 52px 98px minmax(112px, max-content) 10px ;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    grid-template-areas: 
    "tittle2 tittle2 tittle2"
    "ed1 work1 gov1"
    "ed2 work2 gov2"
    "ed3 work3 gov3"
    "ed4 work4 gov4"
    "ed5 work5 gov5";
}

.tittle2 { grid-area: tittle2; padding: 89px 0 0 0;}
.ed1 { grid-area: ed1;}
.ed2 { grid-area: ed2;}
.ed3 { grid-area: ed3; background: center no-repeat url('images/education.png');}
.ed4 { grid-area: ed4;}
.ed5 { grid-area: ed5;}
.work1 { grid-area: work1;}
.work2 { grid-area: work2;}
.work3 { grid-area: work3; background: center no-repeat url('images/remote_workers.png');}
.work4 { grid-area: work4;}
.work5 { grid-area: work5;}
.gov1 { grid-area: gov1;}
.gov2 { grid-area: gov2;}
.gov3 { grid-area: gov3; background: center no-repeat url('images/gov.png');}
.gov4 { grid-area: gov4;}
.gov5 { grid-area: gov5;}

.gray-bg {
    background-color: #e6e6e6;
}

.video-area {
    background-color: #c41610;
    height: 500px;
}

.video-cont {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns:  375px auto;
    grid-template-areas: 
    "videotext videoplace";
}  
.videotext { grid-area: videotext; padding: 50px 0 0 0;}
.videoplace { grid-area: videoplace; }

.static-video {
    background: center / contain no-repeat url('images/CombinedFinal_NotLoaded.png');
    position: relative;
    top: -25px;
    left: -190px;
    width: 960px;
    height: 540px;
    box-shadow: none;
    border: 0px;
    outline: none;
    cursor: pointer;
}
.play-video {
    background: center / contain no-repeat url('images/combinedfinal_halfr4.gif');
    position: relative;
    top: -25px;
    left: -190px;
    width: 960px;
    height: 540px;
    box-shadow: none;
    border: 0px;
    outline: none;
}

.award-cont {
    max-width: 1200px;
    height: 458px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-rows: 100px 260px 100px;
    grid-template-areas: 
    "awtittle"
    "awards"
    "awtext";
}

.awtittle { grid-area: awtittle; align-self: end;}
.awards { grid-area: awards; align-self: center; display: flex; justify-content: space-between;}
.awtext { grid-area: awtext; align-self: top;}

.aw2013 {
    background: center / contain no-repeat url('images/sharepoint-award-winner-badge.png');
    width: 128px;
    height: 126px;
}

.aw2014 {
    background: center / contain no-repeat url('images/espc-2014-best-sharepoint-app-awards-winner-badge200.png');
    width: 160px;
    height: 126px;
}

.aw2015 {
    background: center / contain no-repeat url('images/european-sharepoint-community-awards-finalist-pdf-share-forms-best-offic.jpg');
    width: 260px;
    height: 126px;
}

.aw2016 {
    background: center / contain no-repeat url('images/most-innovative-cloud-solution-finalist.jpg');
    width: 153px;
    height: 143px;
}

.webinar-area {
    background-color: #333333;
    height: 560px;
}

.webinar-cont {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-areas: 
    "webinar-pic webinar-text";
}  
.webinar-pic { 
    grid-area: webinar-pic; 
    background: center / contain no-repeat url('images/webinar.svg'); 
    width: 573px;
    height: 472px;
    align-self: center;}

.webinar-text { 
    grid-area: webinar-text; 
    display: flex;
    flex-direction: column;
    align-content: center;
justify-content: center;}

.btn-center {
margin: 50px auto 0 auto;
}

.center {
    margin: 0 auto 0 auto;
    }

.main {
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 100px 800px 532px 500px 458px 560px 451px 100px;
    margin: 0 10px
}

.sup-cont {
    max-width: 1200px;
    height: 451px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-rows: 137px 165px auto;
    grid-template-areas: 
    "suptittle"
    "supbr"
    "supbtn";
}

.suptittle { grid-area: suptittle; align-self: end;}
.supbr { grid-area: supbr; align-items: center; display: flex; justify-content: space-between; padding: 0 188px 0 188px ;}
.supbtn { grid-area: supbtn; display: flex; justify-content: center;}

.chrome {
    background: center / contain no-repeat url('images/chrome_logo.png');
    width: 47px;
    height: 47px; 
}
 .iexpl {
    background: center / contain no-repeat url('images/ie_logo.png');
    width: 47px;
    height: 46px; 
    }
 .firefox {
    background: center / contain no-repeat url('images/firefox_logo.png');
    width: 50px;
    height: 46px;   
     }
 .safari {
    background: center / contain no-repeat url('images/safari_logo.png');
    width: 49px;
    height: 58px;  
    }
 .edge {
    background: center / contain no-repeat url('images/edge_logo.png');
    width: 41px;
    height: 44px;    
    }
 .apple {
    background: center / contain no-repeat url('images/apple_logo.png');
    width: 38px;
    height: 46px;           
                }
 .android {
    background: center / contain no-repeat url('images/android_logo.png');
    width: 41px;
    height: 48px;   
     }




footer {
    background-color: #cccccc;
    height: 100px;
}

.footer-cont {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns: 52px auto 30px 22px;
    grid-template-areas: 
    "logo-btm menu-btm . totop"
    "logo-btm copyright . .";
}

.logo-btm { 
    grid-area: logo-btm; 
    align-items: center; 
    background: center / contain no-repeat url('images/logo.svg');
    width: 52px;
    height: 52px;
    margin-top: 24px;
}
.menu-btm { grid-area: menu-btm; display: flex; justify-content: center;}
.copyright { grid-area: copyright; display: flex; margin: 0 auto; font-size: 12px;}
.totop { 
    grid-area: totop; 
    display: flex;
    justify-content: end; 
    background: center / contain no-repeat url('images/to-top.svg');
    width: 22px;
    height: 22px;
    position: relative;
    top: -23px;
}

.menu-btm-item {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    text-align: center;
    padding: 0 16px 0 16px;
    margin-top: 32px;
}

.menu-btm-item:hover {
    color: #333333;
}


.right-border {
border-right: #333333 solid 1px;
}

.chat-form {
    width: 350px;
    height: 450px;
    background-color: #ffffff;
    display: grid;

}
.red-btn {
    background-color: #c41610;
    color: #ffffff;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    height: 35px;
    width: 260px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 3px;
    box-shadow: none;
    border: 0px;
    outline: none;
    cursor: pointer;
    padding: 0px;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    right: 10px;


}

.chat-image {
    background: center / contain no-repeat url('images/chat.svg');
    width: 177px;
    height: 93px;
    position: fixed;
    bottom: 40px;
    right: 41px;
   
}

.chat-image:hover {
    display: none;
    /* transition-duration: 2s; */
}
